<div class="main-wrapper">
<div class="ks_wrapper">
<div class="ks_tip">
<div class="ks_tip2">
    
    
    
    <section class="ks_section">
      
<div class="ks_tab">
  <button class="ks_tablinks" onclick="openCity(event, 'ks_location')" id="ks_defaultOpen" >#장소꿀팁</button>
  <button class="ks_tablinks" onclick="openCity(event, 'ks_conversation')">#대화주제</button>
  <button class="ks_tablinks" onclick="openCity(event, 'ks_success')">#성공률높이기</button>
  <button class="ks_tablinks" onclick="openCity(event, 'ks_after')">#애프터신청</button>
  <button class="ks_tablinks" onclick="openCity(event, 'ks_job')">#직장생활</button>
</div>

<div id="ks_location" class="ks_tabcontent">
       
       <a target="" href="https://lunchlunch-whehdrms.c9users.io/tips/card1">
       <div class="ks_gallery">
    <%= image_tag("ks_location1.png", class: "ks_thumbnail") %>
  <div class="ks_desc"><div class="ks_desc2">런치팅 추천식당  &nbsp; <선릉>편</div></div>
</div>
</a>

<a target="" href="https://lunchlunch-whehdrms.c9users.io/tips/card1">
<div class="ks_gallery" target="" href="https://lunchlunch-whehdrms.c9users.io/tips/card1">
    <%= image_tag("ks_location2.png", class: "ks_thumbnail") %>
  <div class="ks_desc"><div class="ks_desc2">런치팅 추천메뉴 Top3</div></div>
</div>
</a>

<a target="" href="https://lunchlunch-whehdrms.c9users.io/tips/card1">
<div class="ks_gallery">
    <%= image_tag("ks_location3.png", class: "ks_thumbnail") %>
 
  <div class="ks_desc"><div class="ks_desc2">런치팅에서 피해야 할 음식</div></div>
</div>
 </a>


<a target="" href="https://lunchlunch-whehdrms.c9users.io/tips/card1">
<div class="ks_gallery">
    <%= image_tag("ks_location4.png", class: "ks_thumbnail") %>
  <div class="ks_desc"><div class="ks_desc2">자리 위치선정 꿀팁!!</div></div>
</div>
</a>

<a target="" href="https://lunchlunch-whehdrms.c9users.io/tips/card1">
<div class="ks_gallery">
    <%= image_tag("ks_location5.png", class: "ks_thumbnail") %>
  <div class="ks_desc"><div class="ks_desc2">피해야 할 식당 Top3!</div></div>
</div>
</a>

<a target="" href="https://lunchlunch-whehdrms.c9users.io/tips/card1">
<div class="ks_gallery">
    <%= image_tag("ks_location6.png", class: "ks_thumbnail") %>
  <div class="ks_desc"><div class="ks_desc2">피해야 할 음식 Top5!</div></div>
</div>
</a>


  
</div>

  <div id="ks_conversation" class="ks_tabcontent">
  
  <a target="" href="https://lunchlunch-whehdrms.c9users.io/tips/card1">
  <div class="ks_gallery">
    <%= image_tag("ks_conversation1.png", class: "ks_thumbnail") %>
  <div class="ks_desc"><div class="ks_desc2">꼬리를 무는 대화법</div></div>
</div>
</a>

<a target="" href="https://lunchlunch-whehdrms.c9users.io/tips/card1">
<div class="ks_gallery">
    <%= image_tag("ks_conversation2.png", class: "ks_thumbnail") %>
  <div class="ks_desc"><div class="ks_desc2">편하게 대화하는 법</div></div>
</div>
</a>


  <a target="" href="https://lunchlunch-whehdrms.c9users.io/tips/card1">
<div class="ks_gallery">
    <%= image_tag("ks_conversation3.png", class: "ks_thumbnail") %>
  <div class="ks_desc"><div class="ks_desc2">뻔하지 않은 대화법</div></div>
</div>
</a>

<a target="" href="https://lunchlunch-whehdrms.c9users.io/tips/card1">
<div class="ks_gallery">
    <%= image_tag("ks_conversation4.png", class: "ks_thumbnail") %>
  <div class="ks_desc"><div class="ks_desc2">공통 취미/관심사 찾기</div></div>
</div>
  </a>
  
  <a target="" href="https://lunchlunch-whehdrms.c9users.io/tips/card1">
  <div class="ks_gallery">
    <%= image_tag("ks_conversation5.png", class: "ks_thumbnail") %>
  <div class="ks_desc"><div class="ks_desc2">대화 끊길 때 이어가는 법</div></div>
</div>
</a>
  
  <a target="" href="https://lunchlunch-whehdrms.c9users.io/tips/card1">
  <div class="ks_gallery">
    <%= image_tag("ks_conversation6.png", class: "ks_thumbnail") %>
  <div class="ks_desc"><div class="ks_desc2">나만 아는 얘기는 안돼요!</div></div>
</div>
</a>
  
  </div>

<div id="ks_success" class="ks_tabcontent">

<a target="" href="https://lunchlunch-whehdrms.c9users.io/tips/card1">
  <div class="ks_gallery">
    <%= image_tag("ks_success1.png", class: "ks_thumbnail") %>
  <div class="ks_desc"><div class="ks_desc2">런치팅 성공사례1</div></div>
</div>
</a>

<a target="" href="https://lunchlunch-whehdrms.c9users.io/tips/card1">
<div class="ks_gallery">
    <%= image_tag("ks_success2.png", class: "ks_thumbnail") %>
  <div class="ks_desc"><div class="ks_desc2">한여름 겨터파크 주의보!</div></div>
</div>
</a>

  <a target="" href="https://lunchlunch-whehdrms.c9users.io/tips/card1">
<div class="ks_gallery">
    <%= image_tag("ks_success3.png", class: "ks_thumbnail") %>
  <div class="ks_desc"><div class="ks_desc2">지나친 자기자랑은 안돼요</div></div>
</div>
</a>

<a target="" href="https://lunchlunch-whehdrms.c9users.io/tips/card1">
<div class="ks_gallery">
    <%= image_tag("ks_success4.png", class: "ks_thumbnail") %>
  <div class="ks_desc"><div class="ks_desc2">경청을 통한 호감 얻기</div></div>
</div>
</a>

<a target="" href="https://lunchlunch-whehdrms.c9users.io/tips/card1">
<div class="ks_gallery">
    <%= image_tag("ks_success5.png", class: "ks_thumbnail") %>
  <div class="ks_desc"><div class="ks_desc2">핸드폰은 잠시 넣어주세요</div></div>
</div>
</a>

<a target="" href="https://lunchlunch-whehdrms.c9users.io/tips/card1">
<div class="ks_gallery">
    <%= image_tag("ks_success6.png", class: "ks_thumbnail") %>
  <div class="ks_desc"><div class="ks_desc2">런치팅 성공 사례2</div></div>
</div>
</a>

</div>      
      
      <div id="ks_after" class="ks_tabcontent">

<a target="" href="https://lunchlunch-whehdrms.c9users.io/tips/card1">
  <div class="ks_gallery">
    <%= image_tag("ks_after1.png", class: "ks_thumbnail") %>
  <div class="ks_desc"><div class="ks_desc2">애프터 신청 최고의 타이밍</div></div>
</div>
</a>

<a target="" href="https://lunchlunch-whehdrms.c9users.io/tips/card1">
<div class="ks_gallery">
    <%= image_tag("ks_after2.png", class: "ks_thumbnail") %>
  <div class="ks_desc"><div class="ks_desc2">고백 타이밍에 대한 모든 것!</div></div>
</div>
</a>

<a target="" href="https://lunchlunch-whehdrms.c9users.io/tips/card1">
<div class="ks_gallery">
    <%= image_tag("ks_after3.png", class: "ks_thumbnail") %>
  <div class="ks_desc"><div class="ks_desc2">집착은 안돼요ㅠㅠ 안돼 안돼</div></div>
</div>
</a>

  <a target="" href="https://lunchlunch-whehdrms.c9users.io/tips/card1">
<div class="ks_gallery">
    <%= image_tag("ks_after4.png", class: "ks_thumbnail") %>
  <div class="ks_desc"><div class="ks_desc2">지나친 아재개그 금지!</div></div>
</div>
</a>

<a target="" href="https://lunchlunch-whehdrms.c9users.io/tips/card1">
<div class="ks_gallery">
    <%= image_tag("ks_after5.png", class: "ks_thumbnail") %>
  <div class="ks_desc"><div class="ks_desc2">카톡으로 애프터 신청하기</div></div>
</div>
</a>

<a target="" href="https://lunchlunch-whehdrms.c9users.io/tips/card1">
<div class="ks_gallery">
    <%= image_tag("ks_after6.png", class: "ks_thumbnail") %>
  <div class="ks_desc"><div class="ks_desc2">뻔하지 않은 애프터 신청법</div></div>
</div>
</a>

</div>      


        <a target="" href="https://lunchlunch-whehdrms.c9users.io/tips/card1">
    <div id="ks_job" class="ks_tabcontent">
       <div class="ks_gallery">
    <%= image_tag("ks_job1.png", class: "ks_thumbnail") %>
  <div class="ks_desc"><div class="ks_desc2">칼퇴근 하는 법</div></div>
</div>
</a>

<a target="" href="https://lunchlunch-whehdrms.c9users.io/tips/card1">
<div class="ks_gallery">
    <%= image_tag("ks_job2.png", class: "ks_thumbnail") %>
  <div class="ks_desc"><div class="ks_desc2">부장님 개그 퇴치법</div></div>
</div>
</a>

<a target="" href="https://lunchlunch-whehdrms.c9users.io/tips/card1">
<div class="ks_gallery">
    <%= image_tag("ks_job3.png", class: "ks_thumbnail") %>
  <div class="ks_desc"><div class="ks_desc2">월요병 극복법</div></div>
</div>
</a>

<a target="" href="https://lunchlunch-whehdrms.c9users.io/tips/card1">
<div class="ks_gallery">
    <%= image_tag("ks_job4.png", class: "ks_thumbnail") %>
  <div class="ks_desc"><div class="ks_desc2">악덕 상사 대처하기</div></div>
</div>
</a>

    <a target="" href="https://lunchlunch-whehdrms.c9users.io/tips/card1">
<div class="ks_gallery">
    <%= image_tag("ks_job5.png", class: "ks_thumbnail") %>
  <div class="ks_desc"><div class="ks_desc2">재테크 꿀팁!</div></div>
</div>
</a>

<a target="" href="https://lunchlunch-whehdrms.c9users.io/tips/card1">
<div class="ks_gallery">
    <%= image_tag("ks_job6.png", class: "ks_thumbnail") %>
  <div class="ks_desc"><div class="ks_desc2">Hip한 휴가지 Top5!</div></div>
</div>
</a>

  
</div> 
     
     
      

     
</div>

</div>
</div>
</div>

<script>
function openCity(evt, cityName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("ks_tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("ks_tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>

<script>
// Get the element with id="defaultOpen" and click on it
document.getElementById("ks_defaultOpen").click();
</script>