<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>직장인을 위한 점심 미팅, 런치팅</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
      $( function() {
        $( "#tabs" ).tabs();
      } );
    </script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, shrink-to-fit=no, width=device-width">
    <meta charset="utf-8">

  </head>

  <body>
    
    <% if current_page?('/') %>
    <%= render "layouts/mainNav2" %>
    <%= render "layouts/mainNav3" %> 
    <% else %>
    <%= render "layouts/mainNav" %>
    <% end %>
    
    <% if current_page?('/') || current_page?('/home/home') %>
      <div class="dk_videoline"></div>
      <%= render "layouts/mainVideo" %>
    <% end %>
    <div class="main-wrapper">
      <%= yield %>
    </div>
    <% if current_page?('/') || current_page?('/home/home') %>
      <%= render "layouts/mainFooter" %>
    <% end %>
     <% if current_page?('/') || current_page?('/home/home') %>
      <%= render "layouts/mainFooter2" %>
    <% end %>
    
  
    
     <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script> <!-- timepicker -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRiqpz5Q86RQ_j7KkPiP25hvjmPVGqdcU&libraries=places&callback=initMap"async defer></script>

  </body>
</html>
